<div id="liftInfo">
<ul>
	<li>Origin: {{data.origin}}</li>
	<li>Destination: {{data.destination}}</li>
	<li>Drivers Name: {{data.name}}</li>
	<li>Drivers email {{data.email}}</li>
	<li>Date of Departure:{{data.departureDate}}</li>
	<li>Time of Departure:{{data.departureTime}}</li>
	<input type='hidden' id={{data.listingID}} >
</ul>

<p>Message to driver (optional): </p>
<input type="text" id="description" name="description">
</div><br>
<button id="liftEnjoyButton" class="rideConfirm">Confirm Your Ride</button>
