<div id="liftInfo">
	{{#each data}}
<ul>
	<li>Origin: {{this.origin}}</li>
	<li>Destination: {{this.destination}}</li>
	<li>Drivers Name: {{this.name}}</li>
	<li>Drivers email {{this.email}}</li>
	<li>Date of Departure:{{this.departureDate}}</li>
	<li>Time of Departure:{{this.departureTime}}</li>

	<hidden id="listingID">{{this.listingID}}</hidden>
</ul>
{{/each}}
<p>Message to driver (optional): </p>
<input type="text" id="description" name="description">
</div><br>
<button id="requestRide" class="rideConfirm">Confirm Your Ride</button>
