<h1>Listing Confirmed!</h1>
<ul>
  <li>{{data.origin}}  ->  {{data.destination}}</li>
  <li>departure date: {{data.departureDate}}</li>
  <li>departure time: {{data.departureTime}}</li>
  <li>description: {{data.description}}</li>
<ul>

<button><a href="/">Return to homepage</a></button>
