<!-- <div>
	<ul>
	{{#each data}}
		<li>
			Origin: {{this.origin}}
			Destination: {{this.destination}}
			Departure Date: {{this.departureDate}}
			Departure Time: {{this.departureTime}}
				  Listing ID: {{this.listingID}}
		</li>
	{{/each}}
</ul>
</div> -->
