<div>
  <form class=search id="locations" name="searchForm" onsubmit="return validateForm()">
    <input type="text" name="origin" id="origin" placeholder="origin">
    <input type="text" name="destination" id="destination" placeholder="destination">
    <button name="searchButton" id="searchButton">Find</button>
    <p id="alert"></p>
  </form>
</div>

<section id="newRides">

  <div class="numberOfRides">
  </div>

  <div class="container">
    {{#each listing}}
      <div class="listing">
        <h3>departure date: {{this.departureDate}}<p id=date></p>
          departure time: {{this.departureTime}}</h3>
        <h4>{{this.origin}} - {{this.destination}}</h4>
        <p>{{this.name}}</p>
        <image src ='{{this.urlImage}}' height='100'> urlImage
        <a href="#" id="{{this.listingID}}" class="seeMore">See more</a>
      </div>
    {{/each}}
  </div>
</section>
<script src="/javascript/formValidation.js"></script>
